
@mixin desktop() {
    @media only screen and (min-width: 1200px) and(max-height: 1600px) and (min-height: 781px) {
      @content
    }
}

@mixin laptop() {
    @media only screen and (min-width: 768px) and (max-width: 1599px) and (max-height: 780px) {
      @content
    }
}