.page-404 {
    width: 100%;
    height: 100vh;
    background: url('../img/page-1-bg.png') center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-404 {
    width: 250px;
}
.title-404 {
    display: block;
    margin-top: 5%; 
    font-family: $secondFont;
    font-size: 84px;
    letter-spacing: 2.1px;
    text-align: center;
    background-image: linear-gradient(to right, #e4c16e 0%, #e4c16e 2%, #d1a856 25%, #fde6b2 49%, #c7a150 77%, #e3c27a 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-404 {
    margin-top: 5%; 
    font-family: $secondFont;
    font-size: 30px;
    line-height: 1.15;
    letter-spacing: 0.8px;
    text-align: center;
    color: #fefefe;
    .router-link-active {
        color: #fefefe;
        text-decoration: underline;
    }
}