.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 15px;
    @include laptop() {
        margin-top: 15px;
    }
    &.feedback {
        .btn {
            width: 200px;
            height: 30px;
            border-radius: 15px;
            font-size: 14px;
            line-height: 30px;
        }
    } 
}
.btn {
    padding: 0;
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    font-family: $secondFont;
    font-size: 24px;
    line-height: 50px;
    @include phones() {
        width: 220px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }
    &.gold {
        background-image: linear-gradient(to right, #e4c16e 0%, #e4c16e 2%, #d1a856 25%, #fde6b2 49%, #c7a150 77%, #e3c27a 100%);
    }
    &.violet {
        background-color: #591478;
        color: #ffffff;
    }
}
