
.page-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
.alert-input {
  border: 1px solid red !important;
}  
.br-desctop {
  @include tablets() {
    display: none;
  }
}
.br-tablets {
  display: none;
  @include tablets() {
    display: inline-block;
  }
}