
.page-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
.alert-input {
  border: 1px solid red !important;
}  
.br-desctop {
  @include tablets() {
    display: none;
  }
}
.br-tablets {
  display: none;
  @include tablets() {
    display: inline-block;
  }
}
.desktop-only {
  @include tablets() {
    display: none;
  }
}
.mobile-only {
  display: none;
  @include tablets() {
    display: flex;
  }
}
.login-alert {
    display: block;
    margin: 5px auto;
    text-align: center;
    color: red;
    font-size: 10px;
    text-transform: uppercase;
}