.gallery-page {
    width: 100%;
}
.gallery-container {
    //Footer 200 and header 60
    height: calc(100vh - 260px);
    margin-top: 60px;
    @include laptop() {
        height: calc(100vh - 225px);
    }
}
.gallery-top, .gallery-bottom {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.gallery-top {
    height: 55%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include laptop() {
        padding: 10px 0;
    }
}
.gallery-photo {
    position: relative;
    height: 100%;
    width: auto;
    .gallery-big-star {
        height: 100%;
        width: auto;
    }
}
.gallery-info {
    height: 100%;
    flex-grow: 100;
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.gallery-name, .gallery-city {
    display: block;
    color: #111111;
}
.gallery-name {
    font-family: $thirdFont;
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    text-align: left;
    @include laptop() {
        font-size: 24px;
    }
}
.gallery-city {
    font-family: $secondFont;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 0.6px;
    @include laptop() {
        font-size: 18px;
    }
}
.gallery-quote {
    margin-top: 30px;
    width: 100%;
    padding: 60px 20%;
    background-color: #f0e8f4;
    @include laptop() {
        margin-top: 10px;
        padding: 15px 20%;
    }
}
.gallery-quote-text {
    font-family: $secondFont;
    font-size: 20px;
    line-height: 2.19;
    text-align: left;
    color: #000000;
    position: relative;
    @include laptop() {
        font-size: 14px;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: -60px;
        top: -20px;
        width: 40px;
        height: 40px;
        background: url('../img/quote-open.png') center no-repeat;
        background-size: contain;
        @include laptop() {
            left: -30px;
            top: -10px;
            width: 20px;
            height: 20px;
        }
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        right: 60px;
        bottom: -20px;
        width: 40px;
        height: 40px;
        background: url('../img/quote-close.png') center no-repeat;
        background-size: contain;
        @include laptop() {
            right: 30px;
            bottom: -10px;
            width: 20px;
            height: 20px;
        }
    }
}
.gallery-little-star {
    position: absolute;
    width: 40%;
    height: auto;
    bottom: 0;
    right: 0;
}
.gallery-bottom {
    height: 45%;
}
.gallery-title {
    font-family: $thirdFont;
    font-size: 30px;
    text-align: center;
    color: #111111;
    margin-bottom: 30px;
    @include laptop() {
        margin-bottom: 10px;
        font-size: 24px;
    }
}
.gallery-slider {
    height: 70%;
    width: calc(100% - 100px);
}
.gallery-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-img-container {
    cursor: pointer;
    position: relative;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .gallery-slide-image {
        height: 100%;
        width: auto;
        position: relative;
    }
}