.main {
    width: 100%;
    height: 100vh;
    .router-link-exact-active {
        text-decoration: none;
    }
}
.page {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5% 10%;
    @include tablets {
        padding-top: 10%;
    }
    .title {
        color: black;
        font-size: 48px;
        text-align: center;
        font-family: $thirdFont;
        font-weight: 400;
        @include laptop() {
            font-size: 32px;
        }
        &.violet {
            color: #571375;
        }
    }
}
.page-content {
    width: 100%;
    height: 85%;
}
.page-wrapper {
    width: 100%;
}
.page-text {
    color: black;
    font-family: $secondFont;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 30px;
}
.page-1 {
    background: url('../img/page-1-bg.png') center no-repeat;
    background-size: cover;
    @include tablets() {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}
.page-1-block {
    width: 33%;
    height: 100%;
    @include tablets() {
        width: 100%;
    }
}
.page-1-left {
    background: url('../img/main/journal.png') left no-repeat;
    background-size: 100%;
    transform: translateX(-10%);
    @include tablets() {
        order: 2;
        width: 50%;
        height: 40%;
        position: absolute;
        background-size: contain;
        bottom: 15%;
        left: 10%;
    }
}
.page-1-right {
    background: url('../img/main/coulomb.png') left no-repeat;
    background-size: 100%;
    transform: translateX(10%);
    @include tablets() {
        order: 3;
        width: 50%;
        height: 40%;
        position: absolute;
        background-size: contain;
        bottom: 25%;
        right: 5%;
    }
}
.page-1-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;
    @include laptop() {
        padding: 0;
    }
    @include tablets() {
        order: 1;
        height: auto;
    }
    .main-logo {
        width: 60%;
        @include tablets() {
            width: 40%;
        }
    }
    .main-title {
        color: #fefefe;
        font-family: $secondFont;
        font-size: 34px;
        line-height: 1.2em;
        font-weight: 300;
        text-align: center;
    }
}
.page-2 {
    background-color: transparent;
}
.page-2-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablets() {
        flex-direction: column-reverse;
    }
    .page-2-left {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include tablets() {
            width: 100%;
            flex-direction: column;
        }
    }
    .page-2-video {
        width: 700px;
        height: 450px;
        @include laptop() {
            width: 560px;
            height: 315px;
        }
        @include tablets() {
            width: 100%;
            height: 315px;
        }
        // width="560" height="315"
    }
    .page-2-right {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include tablets() {
            width: 100%;
        }
        .page-text {
            font-size: 24px;
            @include laptop() {
                font-size: 18px;
            }
        }
        .btn-wrapper {
            justify-content: flex-start;
        }
        .btn {
            margin: 0;
        }
    }
}
.page-3 {
    background-color: transparent;
}
.page-3-content {
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablets() {
        flex-direction: column;
        .page-text {
            font-size: 18px;
            width: 70%;
            text-align: center;
            margin: 20px auto;
        }
    }
}
.page-3-left {
    background: url('../img/main/page3-coulomb.png') top center no-repeat;
    background-size: 55%;
    width: 30%;
    height: 100%;
    @include tablets() {
        background-size: contain;
        width: 50%;
        height: 30%;
    }
}
.page-3-right {
    background: url('../img/main/page3-journal.png') bottom center no-repeat;
    background-size: 100%;
    width: 30%;
    height: 100%;
    @include tablets() {
        background-size: contain;
        width: 50%;
        height: 30%;
    }
}
.page-3-center {
    padding: 5% 0;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .page-text {
        font-size: 22px;
        @include laptop() {
            font-size: 16px;
        }
        &:first-child {
            margin-top: 5%;
            width: 60%;
            display: block;
            align-self: flex-start;
        }
        &:last-child {
            width: 60%;
            display: block;
            align-self: flex-end;
        }
    }

}
.page-4 {
    background-color: transparent;
}
.page-4-content {
    display: flex;
    align-items: center;
    height: 80%;
    @include tablets() {
        flex-direction: column;
    }
}
.page-4-item-text-cont {
    @include tablets() {
        text-align: left;
        width: inherit;
        padding-left: 15px;
    }
}
.page-4-item {
    text-align: center;
    width: 25%;
    height: 70%;
    padding: 30px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tablets() {
        width: 100%;
        height: 25%;
        padding: 10px 0;
        justify-content: flex-start;
    }
}
.page-4-item-title {
    display: inline-block;
    text-align: center;
    color: #571375;
    font-family: $thirdFont;
    font-size: 24px;
    font-weight: 700;
    margin: 15px 0;
}
.page-4-item-text {
    color: black;
    font-family: $secondFont;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    @include laptop() {
        font-size: 13px;
    }
    @include tablets() {
        font-size: 22px;
    }
}
.page-4-ico {
    width: 100%;
    height: auto;
    @include tablets() {
       height: 100%;
       width: auto;
    }
}
.page-5 {
    background-color: #ffffff;
    padding: 0;
    flex-direction: column;
}
.page-5-content {
    height: calc( 100% - 200px );
    padding: 5% 10% 0;
    width: 100%;
    @include laptop() {
        height: calc( 100% - 160px );
    }
    .btn-wrapper {
        margin-top: 15px;
        @include desktop() {
            margin-top: 5px;
            margin-bottom: 5px;
            .btn {
                margin-bottom: 5px;
                height: 40px;
                width: 250px;
                font-size: 18px;
                line-height: 40px;
            }
        }
    }
}
.stars-slider {
    width: 100%;
    height: 100%;
}
.page-5-stars {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include tablets() {
        height: 50vh;
        .swiper-button-prev {
            top: 40%;
            left: 5%;
        }
        .swiper-button-next {
            top: 40%;
            right: 5%;
        }
    }
}
.page-5-star {
    height: auto;
    @include tablets() {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.page-5-star-photo {
    width: auto;
    height: 350px;
    @include laptop() {
        height: 180px;
    }
}
.page-5-star-name {
    margin-top: 15px;
    letter-spacing: .5px;
    display: block;
    font-size: 18px;
    line-height: 1.2;
    color: $black;
    font-family: $RobotoMedium;
    @include tablets() {
        font-size: 28px;
    }
}
.page-5-star-city {
    display: block;
    font-size: 14px;
    color: $black;
    font-family: $RobotoMedium;
    @include tablets() {
        font-size: 20px;
    }
}