.main {
    width: 100%;
    height: 100vh;
}
.page {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5% 10%;
    .title {
        color: black;
        font-size: 48px;
        text-align: center;
        font-family: $thirdFont;
        font-weight: 400;
        &.violet {
            color: #571375;
        }
    }
}
.page-content {
    width: 100%;
    height: 85%;
}
.page-wrapper {
    width: 100%;
}
.page-text {
    color: black;
    font-family: $secondFont;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 30px;
}
.page-1 {
    background: url('../img/page-1-bg.png') center no-repeat;
    background-size: cover;
}
.page-1-block {
    width: 33%;
    height: 100%;
}
.page-1-left {
    background: url('../img/main/journal.png') left no-repeat;
    background-size: 100%;
    transform: translateX(-10%);
}
.page-1-right {
    background: url('../img/main/coulomb.png') left no-repeat;
    background-size: 100%;
    transform: translateX(10%);
}
.page-1-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;
    .main-logo {
        width: 60%;
    }
    .main-title {
        color: #fefefe;
        font-family: $secondFont;
        font-size: 34px;
        line-height: 1.2em;
        font-weight: 300;
        text-align: center;
    }
}
.page-2 {
    background-color: transparent;
}
.page-2-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .page-2-left {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .page-2-right {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .btn-wrapper {
            justify-content: flex-start;
        }
        .btn {
            margin: 0;
        }
    }
}
.page-3 {
    background-color: transparent;
}
.page-3-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-3-left {
    width: 30%;
    height: 100%;
}
.page-3-left {
    background: url('../img/main/page3-coulomb.png') top center no-repeat;
    background-size: 50%;
}
.page-3-right {
    background: url('../img/main/page3-journal.png') bottom center no-repeat;
    background-size: 100%;
}
.page-3-center {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .page-text {
        &:first-child {
            margin-top: 5%;
            width: 60%;
            display: block;
            align-self: flex-start;
        }
        &:last-child {
            width: 60%;
            display: block;
            align-self: flex-end;
        }
    }

}
.page-3-right {
    width: 30%;
    height: 100%;
}
.page-4 {
    background-color: transparent;
}
.page-4-content {
    display: flex;
    align-items: center;
}
.page-4-item {
    text-align: center;
    width: 25%;
    height: 70%;
    padding: 30px 5%;
}
.page-4-item-title {
    display: inline-block;
    text-align: center;
    color: #571375;
    font-family: $thirdFont;
    font-size: 24px;
    font-weight: 700;
    margin: 15px 0;
}
.page-4-item-text {
    color: black;
    font-family: $secondFont;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.page-4-ico {
    width: 100%;
    height: auto;
}
.page-5 {
    background-color: #ffffff;
}
.page-5-content {
    height: calc( 100% - 150px );
    width: 80%;
    .btn-wrapper {
        margin-top: 15px;
    }
}
.page-5-stars {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.page-5-star {
    width: 30%;
    height: auto;
}.page-5-star-photo {
    width: 100%;
    height: auto;
}
.page-5-star-name {
    margin-top: 15px;
    letter-spacing: .5px;
    display: block;
    font-size: 18px;
    line-height: 1.2;
    color: $black;
    font-family: $RobotoMedium;
}
.page-5-star-city {
    display: block;
    font-size: 14px;
    color: $black;
    font-family: $RobotoMedium;
}