.popup-container {
    position: absolute;
    z-index: 5555;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: url('../img/page-1-bg.png') center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-overlay {
    background-color: #390d52;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 500;
    opacity: .7;
}
.popup-content-wrapper {
    position: absolute;
    z-index: 700;
    width: 450px;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #e4c16e 2%, #d1a856 25%, #fde6b2 49%, #c7a150 77%, #e3c27a);
    @include phones() {
        width: 320px;
    }
}
.popup-content {
    width: 100%;
    height: 100%;
    background-color: #390d52;
    border-radius: 10px;
    padding: 30px 5%;
    .btn-wrapper {
        width: 60%;
        @include phones() {
            width: 100%;
        }
        .btn {
            color: #390d52;
            font-size: 18px;
            border-radius: 25px;
        }
    }
}
.popup-title {
    font-family: $thirdFont;;
    font-size: 24px;
    letter-spacing: 0.6px;
    text-align: center;
    color: #ffffff;
    @include phones() {
        font-size: 16px;
    }
}
.popup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup-input {
    margin-top: 25px;
    height: 45px;
    width: 60%;
    border-radius: 20px;
    border-color: #c7a150;
    background-color: transparent;
    padding: 5px 10px;
    font-family: $secondFont;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #fffeff;
    @include phones() {
        width: 100%;
    }
    &:focus {
        outline: none;
    }
    &::placeholder {
        color: #fffeff;
    }
}
.alert-popup-text {
    opacity: 0;
    color: red;
    text-transform: uppercase;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 5px;
    &.active {
        opacity: 1;
    }
}
.register-btn {
    display: block;
    margin-top: 30px;
    font-family: $secondFont;
    font-size: 16px;
    text-decoration: underline;
    color: #fffeff;
    &:hover {
        color: #fffeff;
    }
}
.rules-popup {
    width: 60%;
    height: 70%;
    @include phones() {
        width: 95%;
        height: 90%;
    }
    .popup-content {
        .btn-wrapper {
            width: 100%;
        }
    }
}
.popup-rules-container {
    color: #fff;
    width: 100%;
    height: 90%;
    padding: 0 15px;
    overflow-y: scroll;
    &::-webkit-scrollbar-track {
	    box-shadow: inset 0 0 6px rgba(217, 179, 104, 1) !important;
	    border-radius: 10px;
	    background-color: transparent;
    }
    &::-webkit-scrollbar {
        width: 12px;
        background-color: transparent ;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
        background-color: #d9b368;
    }
    p {
        margin-bottom: 10px;
        font-family: $secondFont;
        font-size: 14px;
        line-height: 1.33;
        letter-spacing: 0.5px;
        text-align: left;
        color: #ffffff;
        @include phones() {
            font-size: 12px;
        }
    }
    li {
        list-style-type: disc;
        margin-left: 15px;
    }
}
.popup-rules-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
    @include phones() {
        font-size: 18px;
    }
}
.popup-rules-subtitle {
    font-size: 18px;
    margin: 10px 0;
    @include phones() {
        font-size: 16px;
    }
}