.rules-page {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.rules-container {
    width: 80%;
    margin: 210px auto 20px auto;
    height: calc( 100% - 430px);
    overflow-y: scroll;
    @include laptop() {
        margin-top: 130px;
        height: calc( 100% - 310px);
    }
    @include tablets() {
        height: calc( 100% - 390px);
    }
    &::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(217, 179, 104, 1);
	    border-radius: 10px;
	    background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #d9b368;
    }
    p {
        padding: 0 30px;
        margin-bottom: 10px;
        font-family: $secondFont;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.5px;
        text-align: left;
        color: #000000;
    }
}